[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
configparser = "*"
pykeyboard = "*"
pyobjc-framework-quartz = "*"
jsonpath = "*"
pymongo = "*"
pymysql = "*"
psycopg2 = "*"
cx-oracle = "*"
python-dateutil = "*"
selenium = "==4.0.0"
pyyaml = {version = "==6.0", index = "https://pypi.tuna.tsinghua.edu.cn/simple"}
pandas = "*"
flask = "*"
pyautogui = "*"
xlrd = "*"
xlwt = "*"
xlutils = "*"

[requires]
python_version = "3.9"
